@font-face {
  font-family: "Lato regular";
  src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato light";
  src: url("assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("assets/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato Black";
  src: url("assets/fonts/Lato-Black.ttf");
}

*{
  margin: 0;
  list-style: none;
}

ul{
  padding: 0;
}

.wrapper{
  width: 940px;
  margin: 0 auto;
}

.visibility-hidden{
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
}

.center{
  width: 1020px;
  margin: 0 auto;
}

/* header */

.header{
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header__container{
  display: flex;
  height: 89px;
  justify-content: space-between;
}

/* logo */

.logo{
  font-family: 'Lato Bold', 'Arial', sans-serif;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: -0.5px;
  margin-top: 32px;
}

.logo:hover{
  color:#fb8983;
  transition: color 0.2s linear;
}

.logo:hover .logo__star_colored{
  color: #fff;
  transition: color 0.2s linear;
}

.logo__star_colored{
  color: #fb8983;
}

.logo:active{
  color:#f06c64;
}

/* navigation */

.navigation{
  display: flex;
  padding: 0;
  margin-top: 39px;
}

.navigation li{
  position: relative;
  margin-left: 31px;
}

.navigation li:not(:first-child)::before{
  position: absolute;
  content: "";
  left: -16.5px;
  top: 54%;
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #494e62;
}

.navigation__link{
  font-family: 'Lato Bold', 'Arial', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: -0.3px;
}

.navigation__link:hover{
  color: #fb8983;
  padding-bottom: 3px;
  border-bottom: 2px solid #fb8983;
  transition: color .2s linear, border-bottom .2s linear, padding-bottom .2s linear;
}

.navigation__link:active{
  color: #f06c64;
  border-bottom:none;
}

/* slider */

.slider{
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  padding-bottom: 58px;
}

.slider .wrapper{
  position: relative;
}


/* icons */
.slider__icons{
  display: flex;
  position: absolute;
  top: 273px;
  left: 0px;
  right: -2px;
  justify-content: space-between;
  box-sizing: border-box;
}

.arrow{
  font-size: 43px;
  color: #ca4549;
}

.arrow:hover{
  color: #fff;
  opacity: .5;
  cursor: pointer;
  transition:0.3s color linear;
}

/* iphones */

.slider__iphones{
  margin-left: 72px;
  padding-top: 53px;
}

.iphone{
  vertical-align: top;
}

.horizontal-iphone{
  margin-left: 69px;
  margin-top: 121px;
}

/* services */

.services{
  font-family: 'Lato regular' ,'Arial', sans-serif;
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
  padding-top: 59px;
  padding-bottom: 28px;
  box-sizing: border-box;
}

.services__title{
  font-family: 'Lato Black' ,'Arial', sans-serif;
  font-size: 30px;
  color: #666d89;
  margin-bottom: 18px;
}

.services__desc{
  font-family: 'Lato light' ,'Arial', sans-serif;
  font-size: 18px;
  line-height: 30.5px;
  color: #767e9e;
  text-align: justify;
  margin-bottom: 47px;
}

/* services__wrapper */

.services__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -20px;
}

/* service */
.service{
  display: flex;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 33px;
}

.service__img{
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.service-container{
  position: relative;
  top: -2px;
  width: 220px;
  height: 90px;
  overflow: hidden;
}

.service__title{
  font-family: 'Lato Black', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  margin-bottom: 10.5px;
}

.service__desc{
  font-size: 12px;
  line-height: 21.5px;
  color: #767e9e;
  text-align: justify;
}

/* portfolio */

.portfolio{
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  box-sizing: border-box;
  padding-top: 61px;
  padding-bottom: 46.5px;
}

.portfolio__title{
  font-family: 'Lato Black' ,'Arial', sans-serif;
  font-size: 30px;
  line-height: 32px;
  color: #666d89;
  letter-spacing: -0.2px;
  margin-bottom: 19.5px;
}

.portfolio__description{
  font-family: 'Lato light' ,'Arial', sans-serif;
  font-size: 18px;
  line-height: 30.5px;
  color: #767e9e;
  text-align: justify;
  margin-bottom: 11px;
}

/* portfolio tags */

.tags{
  display: flex;
}

.portfolio__tags{
  margin-left: 1px;
  margin-bottom: 19px;
}

.tag{
  font-family: 'Lato regular', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #767e9e;
  border: 1px solid #767e9e;
  border-radius: 4px;
  padding: 2px 6.3px 2.5px 6.3px;
  transition: .3s all linear;
}

.portfolio__tag{
  margin-right: 10px;
}

.portfolio__tag:hover{
  color: #fff;
  border:1px solid #fff;
  cursor: pointer;
}

.portfolio__tag:active{
  opacity: .5;
}

.tag_selected{
  color: #fff;
  border:1px solid #fff;
}

.portfolio__tag:nth-child(2){
  padding-right: 6px;
}

.portfolio__tag:nth-child(3){
  padding-left: 5px;
  padding-right: 5.9px;
}

.portfolio__tag:nth-child(4){
  padding-left: 5.5px;
  padding-right: 5px;
}

/* portfolio images */

.portfolio__images{
  max-height: 621px;
  margin-left: -16px;
  overflow: hidden;
}

.portfolio__images img{
  width: 220px;
  height: 187px;
  margin-left: 16px;
  margin-bottom: 16.2px;
}

/* about us */

.about-us{
  background-color: #f2f2f2;
  padding-top: 61.3px;
  padding-bottom: 67px;
  border-bottom: 6px solid #fff;
  box-sizing: border-box;
}

.about-us__title{
  font-family: 'Lato Black' ,'Arial', sans-serif;
  font-size: 30px;
  line-height: 32px;
  color: #666d89;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}

.about-us__description{
  font-family: 'Lato light' ,'Arial', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  text-align: justify;
  margin-bottom: 45px;
}

/* employees */

.employees{
  display: flex;
}

.about-us__employees{
  margin-left: -19px;
}

.employee{
  width: 300px;
}

.about-us__employee{
  margin-left: 19px;
}

.employee:nth-child(3){
  margin-left: 21px ;
}

.employee__photo{
  margin-bottom: 9.8px;
}

.employee__name{
  font-family: 'Lato Black', 'Arial', sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #666d89;
  white-space: nowrap;
  letter-spacing: -0.7px;
  overflow: hidden;
  margin-left: -1px;
  margin-bottom: 7.5px;
}

.employee:nth-child(2) .employee__name{
  margin-left: 0;
  word-spacing: -0.4px;
}

.employee:nth-child(3) .employee__name{
  word-spacing: 1px;
}

.employee__desc{
  font-family: 'Lato regular', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  text-align: justify;
  margin-bottom: 24px;
}

.employee:nth-child(1) .employee__desc{
  margin-left: -0.5px;
  text-align: unset;
  letter-spacing: -0.06px;
}

.employee__desc_resized{
  word-spacing: 0.5px;
}

/* socials */

.socials{
  display: flex;
}

.employee__socials{
  margin-left: 1px;
}

.social-icon{
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #666d89;
  border-radius: 50%;

}

.employee__icon{
  margin-right: 8px;
}

.social-icon:hover{
  opacity: .7;
  cursor: pointer;
}

.social-icon:active{
  opacity: .5;
  cursor: pointer;
}

.social-icon img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.employee:nth-child(3) .employee__socials{
  margin-left: 0;
}

/* quote */

.quote{
  background-color: #f06c64;
  padding-top: 61.5px;
  height: 654px;
  border-bottom: 6px solid #ea676b;
  box-sizing: border-box;
}

.quote__title{
  font-family: 'Lato Black' ,'Arial', sans-serif;
  font-size: 29.5px;
  line-height: 32px;
  color: #f0d8d9;
  letter-spacing: 0.1px;
  margin-bottom: 19.3px;
}

.quote__description{
  font-family: 'Lato light' ,'Arial', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  text-align: justify;
  margin-bottom: 44px;
}

.layout-2-columns{
  display: flex;
}

/* form */

.form{
  display: flex;
  flex-direction: column;
  min-width: 619px;
}

.quote__form{
  margin-right: 21px;
}

.form__name,
.form__email,
.form__subject,
.form__project{
  height: 38px;
  font-family: 'Lato regular' ,'Arial', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #f0d8d9;
  background:#d6564f;
  border-radius: 5px;
  border:none;
  outline: none;
  margin-bottom: 16px;
  padding: 0 0 0 14.5px;
}

.form__project{
  height: 192px;
  resize: none;
  padding-top: 10px;
}

.form__name::placeholder,
.form__email::placeholder,
.form__subject::placeholder,
.form__project::placeholder{
  color: #f48c8f;
}

/* contact info */

.contact-info__title{
  font-family: 'Lato Black', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  letter-spacing: -0.1px;
  margin-bottom: 10px;
}

.contact-info__description,
.contact-info__address,
.contact-info__phone,
.contact-info__email{
  font-family: 'Lato regular', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 21.5px;
  color: #f0d8d9;
  letter-spacing: -0.1px;
  text-align: justify;
}

.contact-info__description{
  margin-bottom: 21.5px;
}

.contact-info__description_size{
  line-height: 24.5px;
  letter-spacing: -0.1px;
  word-spacing: 0.6px;
}

/* contacts */

.contact-info__contacts{
  padding-left: 22.5px;
}

.contact-info__address,
.contact-info__phone,
.contact-info__email{
  position: relative;
  letter-spacing: 0;
}

.contact-info__address img,
.contact-info__phone img,
.contact-info__email img{
  position: absolute;
  top: 5px;
  left: -19.5px;
}

.contact-info__phone img{
  top: 5px;
  left: -21.5px;
}

.contact-info__email img{
  top: 8.5px;
  left: -22.5px;
}

.contact-info__phone a,
.contact-info__email a{
  color:#f0d8d9;
  text-decoration: none;
}

.contact-info__phone a:hover,
.contact-info__email a:hover{
  text-decoration: underline;
}

.contact-info__phone a:active,
.contact-info__email a:active{
  opacity: 0.7;
}


/* footer */

.footer{
  background: #2d303a;
}

.footer__container{
  display: flex;
  justify-content: space-between;
  height: 76px;
}

.footer__copyright{
  font-family: 'Lato regular', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #666d89;
  margin-top: 29.5px;
  margin-left: 2px;
  letter-spacing: -0.2px
}

.point{
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background-color: #494e62;
}

.footer__point{
  margin-left: 1.5px;
  margin-right: 2.5px;
}

/* socials */

.socials{
  display: flex;
}

.footer__socials{
  margin-top: 22px;
}

.social-icon{
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.footer__icon{
  margin-right: 8px;
}

.social-icon:hover{
  opacity: .7;
  cursor: pointer;
}

.social-icon:active{
  opacity: .5;
  cursor: pointer;
}

.social-icon img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.footer__icon:last-child{
  margin-right: 0;
}